.weeksList{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-left: 10%;
  width: 14%;
  margin-top: -8.5%;
}
#weekButton {
  width: 100px;
  background-color: dodgerblue;
}
