#logoutButton {
  background-color: #4520AB ;
  margin-top: 2%;
  width: 13%;
  color: #FFBC5B;
  border: 1px solid #FFBC5B;
  margin-left: auto;
  margin-right: 5%;
  height: 30%;
  font-family: 'Rostin';
  border-radius: 20px;
}
