.phaseContainer {
  display: flex;
  /* border: 1px solid black; */
  flex-direction: row;
  justify-content:center;
  width: 10px;
  position: relative;
  margin-top: 5%;
  font-family: 'Rostin';
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .phaseContainer {
      display: flex;
      flex-direction: column;
      justify-content:center;
      width: 10px;
      position: relative;
      margin-top: 5%;
      font-family: 'Rostin';
    }
}

.active {
  color: #FFBC5B !important;
  background-color: #4520AB !important;
  border: 5px solid #FFBC5B !important;
}

@font-face{
  font-family: 'Rostin';
  src: url('/frontend/public/RF-Rostin/RF-Rostin-Bold.ttf');
}


