.phaseContainer {
  display: flex;
  /* border: 1px solid black; */
  flex-direction: row;
  justify-content: stretch;
  width: 10px;
  position: relative;
  margin-top: 5%;
}
#phaseButton{
  background-color: rgb(63,37,166);
  color: rgb(133, 227,251);
  margin-bottom: 5px;
  margin-left: 10%;
  height: 120px;
  width: 450px;
}


