.navbar{
  display: flex;  
  height: 120px;
  width: 100%;
  background-color: rgb(63,37,166);
}
.loginButton{
margin-left: auto;
}

.searchBar{
  align-self: center;
  width: 32%;
  background-color: rgb(63,37,166);
  margin-left: 15%;
}
#searchBar{
  border-radius: 50px;
  font-family: 'Rostin';
}
#loginButton {
  margin-top: 2%;
  width: 13%;
  color: #FFBC5B;
  border: 1px solid #FFBC5B;
  margin-left: auto;
  margin-right: 5%;
  height: 30%;
  font-family: 'Rostin';
  border-radius: 20px;
}
.logo {
  vertical-align: top;
  width: 10em;
  height: 8.5em;
}

.projectName{
  font-size: 16px;
  color: #FFBC5B;
  position: absolute;
  margin-left: 7.5em;
  margin-top: 5.1em;
}

#ButtonAdminInterface{
  /* margin-top: 2%; */
  /* width: 13%; */
  color: #FFBC5B;
  border: 1px solid #FFBC5B;
  /* margin-left: auto; */
  /* margin-right: 5%; */
  /* height: 30%; */
  padding:20px 20px 20px 20px;
  font-family: 'Rostin';
  border-radius: 20px;
}
.ButtonAdminInterface{
  margin: 25px;
}
